.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: solid 2px #10326b;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px; 
    color: #242323; 
}  
.mGrid th    
{
    padding: 4px 2px;   
    color: white;   
    background: #10326b url(grid_head.png) repeat-x top;  
    border: solid 1px #10326b;   
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;  
    font-weight: bold;
    text-align:center;
    height:17px;
    
}  
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; } 
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; } 
